/* Estilos Gerais */
body {
    font-family: "Lekton", monospace;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(75, 0, 130) 50%, rgba(0, 175, 255, 1) 100%);
    margin: 10px;
    padding: 0;
}

.lekton-bold {
    font-weight: 700;
    font-style: normal;
}

.lekton-regular-italic {
    font-weight: 400;
    font-style: italic;
}

img {
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.5s;
}

img:hover {
    transform: scale(1.1);
}

.socialIMG {
    position: fixed;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.dropZone {
    cursor: pointer;
    font-size: larger;
    border: 2px dashed #666666;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    transition: all 0.5s;
    user-select: none;
}

.dropZone:hover,.dropZone.dragover{
    cursor: pointer;
    border-color: #000;
    transform: scale(1.05);
    background-color: #ffffff90;
}

.fileSelectContainer,
.infoNfeContainer,
.InfoHeadContainer {
    height: auto;
    padding: 10px;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
    resize: both;
    transition: all 1s;
    overflow: hidden;
}

.InfoHeadContainer {
    margin: 50px auto;
    min-height: 50px;
}

.bodyContainer {
    align-items: center;
    display: flex;
    margin: 50px auto;
    justify-content: center;
    gap: 10px;
    resize: both;
    overflow: hidden;
}

.infoNfeContainer {
    width: fit-content;
}

.fileSelectContainer {
    max-width: 250px;
    position: fixed;
    right: 75%;
    top: 25%;
    z-index: 99;
    transition: all 0.5s;
}

.infoText {
    width: 300px;
    font-size: large;
    text-align: left;
    border: none;
    background: none;
    resize: none;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    transition: all 0.5s;
}

h1 {
    color: #333;
}

button {
    padding: 5px;
    color: #000;
    background-color: transparent;
    border: 1px double;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    margin: 5px;
}

button:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #000;
    border-color: #000;
}

button:focus {
    transform: scale(1.1);
    outline: 2px solid #000;
}

.infoTable {
    margin: 0 auto;
    width: auto;
    border-collapse: collapse;
    height: auto;
}

.infoTable th,
.infoTable td {
    border: 1px solid #000000;
    padding: 6px;
    text-align: center;
    justify-content: center;
    color: #000000;
    background-color: #ffffff3a;
}

.infoTable th {
    background-color: #ffffff;
    color: #000000;
}