/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(131, 86, 170, 1) 50%, rgba(0, 175, 255, 1) 100%);
    margin: 0;
    padding: 0;
}

img {
    margin: 10px;
    padding: 5px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.5s;
}

.dropZone {
    font-size: larger;
    border: 2px dashed #666666;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    transition: all 0.5s;
    user-select: none;

}


.dropZone.dragover {
    border-color: #000;
    scale: 1.1;
    background-color: #ffffff90;
}


img:hover {
    transform: scale(1.1);
}

.socialIMG{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}


.fileSelectContainer,
.infoNfeContainer {
    margin: 50px auto;
    padding: 30px;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
    resize: both;
}

.infoNfeContainer{
    width: fit-content;
}

.fileSelectContainer {
    max-width: 350px;
}

.infoText {
    width: 300px;
    min-height: auto;
    font-size: large;
    text-align: left;
    border: none;
    background: none;
    resize: none;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    transition: all 0.5s;
}

h1 {
    color: #333;
}

button {
    padding: 5px;
    margin-top: 5px;
    color: #000;
    background-color: transparent;
    border: 1px double;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    padding: 15px;
    background-color: #fff;
    color: #000;
    border-color: #000;
}



.infoTable {
    margin: 0 auto; /* Define as margens laterais automáticas para centralizar a tabela */
    width: auto; /* Define a largura da tabela */
    border-collapse: collapse; /* Mescla as bordas das células da tabela */
    height: auto;
}

.infoTable th,
.infoTable td {
    border: 1px solid #000000; /* Adiciona bordas às células da tabela */
    padding: 6px; /* Adiciona espaçamento interno às células */
    text-align: center; /* Alinha o texto à esquerda dentro das células */
    justify-content: center;
}

.infoTable th {
    background-color: #f2f2f2; /* Define a cor de fundo das células do cabeçalho */
    color: #333; /* Define a cor do texto do cabeçalho */
}